.confiFormsFormBorder {
    margin: unset !important;
    border: unset !important;
    border-radius: unset !important;
}

a.aui-button.aui-style-default.aui-dropdown2-trigger {
    display: none !important;
}

.confiFormsFormFooter {
    background: none !important; 
    display: flex !important;
    justify-content: flex-end !important;
}


button.my-create-dialog-create-button.aui-button.aui-button-primary.save-cf-btn {
    border-radius: 3px;
    background-color: #1c948d;
	display: none;
}


input[type="radio" i] {
    display: none !important;
}

.table-wrap {
    overflow-x: unset !important;
    margin: unset;
    }



input#i_statusRef-approved label {
    border-radius: 3px;
    background-color: #1c948d;
}


label[for=i_statusRef-approved] {
    border-radius: 3px;
    background-color: #1c948d;
    padding: 10px 20px;
    font-family: Raleway !important;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff !important;
    margin: 20px;
    display: none;
}

label[for=i_statusRef-published] {
    border-radius: 3px;
    background-color: #1c948d;
    padding: 10px 20px;
    font-family: Raleway !important;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff !important;
    margin: 20px;
    display: none;
}

label[for=i_statusRef-rejected] {
    border-radius: 3px;
    background-color: #ff4947;
    padding: 10px 20px;
    font-family: Raleway !important;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff !important;
    margin: 20px;
    display: none;
}

label[for=i_statusRef-review] {
    border-radius: 3px;
    background-color: #ff4947;
    padding: 10px 20px;
    font-family: Raleway !important;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff !important;
    margin: 20px;
    display: none;
}

div#i_confiform_registration_panel_fae2f98e8642a5137465cb6c4205823f {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.confiFormsFormContent {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}


span#i_holdingrow_statusRef label {
    cursor: pointer;
}

div#current-status {
    font-family: Raleway;
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #4e5868;
}

div#current-status {
    display:none;
    flex-direction: column;
    justify-content: center;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30vw; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  div#confirmation-modal-content p {
    font-family: var(--main-font-family);
    font-size: 20px;
    margin-bottom: 50px;
}

#rw_category_menu.rw_theme_traditional ul.rw_category_items li.rw_active a, #rw_category_menu.rw_theme_traditional ul.rw_category_items li.rw_active a:hover {
    background: unset;
}

#rw_category_menu.rw_theme_traditional ul.rw_category_items li.rw_active a {
    background: unset;
}
